/* Esta é um arquivo para o css*/

.box_position {
    background-color: #e200ff;
    width: 300px;
    height: 50px;
    color: white;
    font-family: sans-serif;
    /* espaçamento interno do elemento: */
    padding: 20px;
    font-size: 18pt;
}

#static {
    position: static;
}

#relative {
    position: relative;
    left: 100px;
}

#fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}

#relative_2{
    position: relative;
    width: 400px;
    height: 200px;
    background-color: blue;
    }

    #absolute{
        position: absolute;
        bottom: 3px;
        right: 15px;
        background-color: #1b9aea;
    }

    #sticky{
        position: -webkit-sticky; 
        position: sticky;
        top: 0;
        padding: 5px;
        background: #1b9aea;
    }